{% extends 'base.html' %}


{% block content %}
    
    <div>View your flashcards below or add a new flashcard.</div>
        <a href="{% url 'card_new' pk=subject.pk %}">Add New</a>

    <div>Question List</div>
        {% for card in flashcards %}
            <div>
                    <a href="{% url 'card_edit' pk1=card.pk pk2=subject.pk %}">Edit</a>
                    <a href="{% url 'delete_card' pk1=card.pk pk2=subject.pk %}">Delete</a>
                    {{ card.question }}
                    <a href="{% url 'card_answer' pk1=card.pk %}">Answer</a>
            </div>
        {% endfor %}
        
        



{% endblock %}